
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font that looks like game style */
@font-face {
  font-family: 'G-OTF Shin Go Pro R';
  src: url('/ShinGoPro-Regular.otf') format('opentype');
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.shingo {
  font-family: 'G-OTF Shin Go Pro R';
}

