<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <a href="{{ url_for('home') }}">Home</a><br>
</head>

<body>
    <h1>Forgot Password</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    {% if success %}
    <p>{{ success }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
    <p><a href="{{ url_for('home') }}">Return Home</a></p>
</body>

</html>