<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome {{username}} </h1>
    <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('logout') }}">Logout</a><br>
    <a href="{{ url_for('signup') }}">Signup</a><br>
    <a href="{{ url_for('meal') }}">Meal Page</a><br>
    <a href="{{ url_for('profile') }}">Profile</a><br>
    <a href="{{ url_for('biometrics') }}">Biometrics</a><br>
    <a href="{{ url_for('staple_meal') }}">Staple Meal Page</a><br>
    <a href="{{ url_for('lookup') }}">Food Lookup</a><br>
    <a href="{{ url_for('recepie_logger') }}">Recipe Logger</a><br>
</body>

</html>