<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <label for="login_identifier">Username or Email:</label><br>
        <input type="text" id="login_identifier" name="login_identifier"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <p><a href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>
</body>

</html>