<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new meal</title>
</head>

<body>
    <h1>Meal</h1>
    <form action="/meal" method="post">Name
        <input type="text" name="name" id=""> Calories
        <input type="text" name="calories" id=""> Carbs
        <input type="text" name="carbs" id=""> Total Fat
        <input type="text" name="total_fat" id=""> Saturated Fat
        <input type="text" name="sat_fat" id=""> Trans Fat
        <input type="text" name="trans_fat" id="">Fiber
        <input type="text" name="carbs_fiber" id=""> Sugar
        <input type="text" name="carbs_sugar" id=""> Protein
        <input type="text" name="protein" id=""> Sodium
        <input type="text" name="sodium" id="">
        <button type="submit">
            Submit Meal
        </button>
    </form>
</body>

</html>