<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <style>
        #hf,
        #hi {
            margin-left: 0;
        }
    </style>
</head>

<body class="container">
    <h1>{{ u.username }}'s profile</h1>
    <hr>
    <form method="post" class="table rows">
        <!-- Unit Type -->
        <p>
        <h3>Unit Display Type</h3>
        </p>
        {% if u.unit_type == "imperial" %}
        <div>
            <label for="unittypeimperial">
                <input type="radio" id="unittypeimperial" name="unittype" value="imperial" checked>
                Imperial
            </label>
        </div>
        <div>
            <label for="unittypemetric">
                <input type="radio" id="unittypemetric" name="unittype" value="metric">
                Metric
            </label>
        </div>
        {% else %}
        <div>
            <label for="unittypeimperial">
                <input type="radio" id="unittypeimperial" name="unittype" value="imperial">
                Imperial
            </label>
        </div>
        <div>
            <label for="unittypemetric">
                <input type="radio" id="unittypemetric" name="unittype" value="metric" checked>
                Metric
            </label>
        </div>
        {% endif %}
        <br>
        <br>
        <!-- Sex -->
        <p>
        <h3>Sex</h3>
        </p>
        <div>
            <label for="sexmale">
                <input type="radio" id="sexmale" name="sex" value="male">
                Male
            </label>
        </div>
        <div>
            <label for="sexfemale">
                <input type="radio" id="sexfemale" name="sex" value="female">
                Female
            </label>
        </div>
        <br>
        <br>
        <!-- Weight -->
        <div class="f-col justify-content:center align-items:start">
            <div class="f-row">
                <label for="weightinp">
                    <h3>Current Weight <small>(lbs)</small></h3>
                </label>
                <input type="number" min="0" id="weightinp" name="weight">
            </div>
            <!-- Height -->
            <div id="hf" class="f-row">
                <label for="heightfeet">
                    <h3>Height <small>(ft)</small></h3>
                </label>
                <input type="number" min="0" max="10" id="heightfeet" name="heightfeet">
            </div>
            <div id="hi" class="f-row">
                <label for="heightinches">
                    <h3>Height <small>(in)</small></h3>
                </label>
                <input class="float:left" type="number" min="0" max="11" id="heightinches" name="heightinches">
            </div>
            <br><br>
        </div>
        <!-- Birthday -->
        <label for="birthday">
            <h2>Date of Birth</h2>
        </label><br>
        <input type="date" id="birthday" name="birthday">
        <br><br>
        <!-- Activity Level -->
        <label for="activitylevel">
            <h2>Activity Level</h2>
        </label><br>
        <select id="activitylevel" name="activitylevel">
            <option value="sedentary">Sedentary(no exercise)</option>
            <option value="light">Some(Exercise 1-3 days per week)</option>
            <option value="moderate">Moderate(Exercise 3-5 days per week)</option>
            <option value="heavy">Heavy(Exercise 6-7 days per week)</option>
            <option value="extreme">Extreme(Exercise 2 times daily)</option>
        </select>
        <br><br>
        <!-- Goal Type -->
        <p>
        <h2>Goal Type</h2>
        </p>
        <div>
            <label for="goaltypeloss">
                <input type="radio" id="goaltypeloss" name="goaltype" value="loss">
                Weight Loss
            </label>
        </div>
        <div>
            <label for="goaltypemait">
                <input type="radio" id="goaltypemait" name="goaltype" value="maintenance">
                Weight maintenance
            </label>
        </div>
        <!-- Goal Weight (if weightloss) -->
        <div id="weightwrapper">
            <label for="targetweight">Target Weight</label><br>
            <input type="number" min="0" id="targetweight" name="targetweight"><br>
        </div>

        <button type="submit">Submit</button>
    </form>

    <script >
        const gloss = document.getElementById('goaltypeloss');
        const gmait = document.getElementById('goaltypemait');
        const tweight = document.getElementById('weightwrapper');

        tweight.style.display = 'none';

        gloss.onclick = () => {
            tweight.style.display = 'block';
        }

        gmait.onclick = () => {
            tweight.style.display = 'none';
        }
        
    </script>
</body>

</html>