<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food List</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Nutrition facts:</h1>
    <ul>
        {% for nutrient, info in nutrients %}
            <li>{{ info['label'] }}</li>
            <li>{{ info['quantity'] }}</li>
            <li>{{ info['unit'] }}</li>
            <br> <!-- Optional: Add a line break after each set of nutrient info -->
        {% endfor %}
    </ul>
</body>
</html>

<!-- 
<section class="performance-facts" id="performance-facts">	
    <div class="performance-facts__header">		
        <h1 class="performance-facts__title">Nutrition Facts</h1>		
        <p><span id="lnumser">0</span> servings per container</p>	
    </div>	<table class="performance-facts__table">		
        <thead>			
            <tr>				
                <th colspan="3" class="amps">Amount Per Serving</th>			
            </tr>		
        </thead>		
        <tbody>			
            <tr>				
                <th colspan="2" id="lkcal-val-cal"><b>Calories</b></th>				
                <td class="nob">702</td>			
            </tr>			
                <tr class="thick-row">				
                    <td colspan="3" class="small-info"><b>% Daily Value*</b></td>			
                </tr>			
                <tr>				
                    <th colspan="2"><b>Total Fat</b> 1.1 g</th>				
                    <td><b>2 %</b></td>			
                </tr>			
                <tr>				
                    <td class="blank-cell"></td>				
                    <th>Saturated Fat 0.3 g</th>				
                    <td><b>2 %</b></td>			
                </tr>			
                <tr>				
                    <td class="blank-cell"></td>				
                    <th>Trans Fat -</th>				
                    <td></td>			
                </tr>			
                <tr>				
                    <th colspan="2"><b>Cholesterol</b> 0 mg</th>				
                    <td><b>0 %</b></td>			
                </tr>			
                <tr>				
                    <th colspan="2"><b>Sodium</b> 2 mg</th>				
                    <td><b>0 %</b></td>			
                </tr>			
                <tr>				
                    <th colspan="2"><b>Total Carbohydrate</b> 154.6 g</th>				
                    <td><b>52 %</b></td>			
                </tr>			
                <tr>				
                    <td class="blank-cell"></td>				
                    <th>Dietary Fiber -</th>				
                    <td><b>-</b></td>			
                </tr>			
                <tr>				
                    <td class="blank-cell"></td>				
                    <th>Total Sugars -</th>				
                    <td></td>			
                </tr>			
                <tr>				
                    <td class="blank-cell"></td>				
                    <th>Includes - Added Sugars</th>				
                    <td></td>			
                </tr>			
                <tr class="thick-end">				
                    <th colspan="2"><b>Protein</b> 12.9 g</th>				
                    <td><b>26 %</b></td>			
                </tr>		
            </tbody>	
        </table>	
        <table class="performance-facts__table--grid">		
            <tbody>			
                <tr>				
                    <th>Vitamin D 0 µg</th>				
                    <td><b>0 %</b></td>			
                </tr>			
                <tr>				
                    <th>Calcium 17.6 mg</th>				
                    <td><b>2 %</b></td>			
                </tr>			
                <tr>				
                    <th>Iron 1.6 mg</th>				
                    <td><b>9 %</b></td>			
                </tr>			
                <tr class="thin-end">				
                    <th>Potassium 167.7 mg</th>				
                    <td><b>4 %</b></td>			
                </tr>		
            </tbody>	
        </table>	
        <p class="small-info" id="small-nutrition-info">*Percent Daily Values are based on a 2000 calorie diet</p></section>
-->