<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select meal</title>
</head>

<body>
    <h1>Meal</h1>
    <form action="/staple_meal" method="post">Eggs
        <input type="int" name="Eggs" id="">Bagel
        <input type="int" name="Bagel" id="">Chicken(120g)
        <input type="int" name="Chicken" id="">Steak(220g)
        <input type="int" name="Steak" id="">Bread(1 slice)
        <input type="int" name="Bread" id="">Rice(160g)
        <input type="int" name="Rice" id="">
        <button type="submit">
            Submit Meal
        </button>
    </form>
</body>

</html>