<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Code</title>
</head>

<body>
    <h1>Verify Code</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('verify_code') }}">
        <label for="verification_code">Verification Code:</label><br>
        <input type="text" id="verification_code" name="verification_code" required><br><br>
        <input type="submit" value="Verify">
    </form>
</body>

</html>